
<!--Footer-part-->
<div class="row-fluid">
    <div id="footer" class="span12"> Copyright &copy; Goonic All rights reserved.</div>
</div>
<!--end-Footer-part-->
<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
<script src="/javascripts/matrix.js"></script>
<script src="/javascripts/jquery.dataTables.min.js"></script>
<script src="/javascripts/matrix.tables.js"></script>

<script src="/javascripts/bootstrap-datetimepicker.js"></script>
<script src="/javascripts/bootstrap-datetimepicker.zh-CN.js"></script>

<script type="text/javascript">
    $('.form_date').datetimepicker({
        language: 'zh-CN',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0
    });
</script>

</body>
</html>