<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ERP后台管理系统</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/matrix-style.css" />
    <link rel="stylesheet" href="/stylesheets/matrix-media.css" />
    <link rel="stylesheet" href="/stylesheets/bootstrap-datetimepicker.min.css" />
    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="icon" href="favicon.ico" type="image/gif" />
    <!--[if lt IE 9]>
    <script src="/javascripts/html5shiv.min.js"></script>
    <script src="/javascripts/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<!--Header-part-->
<div id="header">
    <h1><a href="#">后台管理系统</a></h1>
</div>
<!--close-Header-part-->