
<!--top-Header-menu-->
<div id="user-nav">
    <ul class="nav">

        <li class=""><a title="" href="index.html"><span class="glyphicon glyphicon-home" aria-hidden="true"> </span><span class="text">后台首页</span></a></li>
        <li class=""><a title="" href="#"><span class="glyphicon glyphicon-lock" aria-hidden="true"> </span><span class="text">修改密码</span></a></li>
        <li class=""><a title="" href="login.html"><span class="glyphicon glyphicon-share-alt" aria-hidden="true"> </span><span class="text">退出登录</span></a></li>
    </ul>

</div>
<!--sidebar-menu-->
<div id="sidebar"> <a class="hidden" href="#"><span class="glyphicon glyphicon-list"> </span>系统菜单</a>
    <ul>
        <li class="submenu"><a href="index.html"><span class="glyphicon glyphicon-home" aria-hidden="true"> </span><span>后台首页</span></a></li>
        <li class="submenu"><a href="#"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"> </span><span>销售管理</span></a>
            <ul>
                <li><a href="order_create.html">创建订单</a></li>
                <li><a href="order_details.html">订单管理</a></li>
            </ul>
        </li>
        <li class="submenu"><a href="#"><span class="glyphicon glyphicon-file" aria-hidden="true"> </span><span>数据导入</span></a>
            <ul>
                <li><a href="import_brush.html">刷单登记</a></li>
                <li><a href="import_check.html">数据验证</a></li>
            </ul>
        </li>
        <li class="submenu"><a href="loading.html"><span class="glyphicon glyphicon-random" aria-hidden="true"> </span><span>加载页面</span></a></li>
        <li class="submenu"><a href="#"><span class="glyphicon glyphicon-stats" aria-hidden="true"> </span><span>Error</span></a>
            <ul>
                <li><a href="error_forbidden.html">404</a></li>
            </ul>
        </li>
        <li class="submenu"><a href="#"><span class="glyphicon glyphicon-cog" aria-hidden="true"> </span><span>系统管理</span></a>
            <ul>
                <li><a href="role_modify.html">角色管理</a></li>
            </ul>
        </li>
        <li class="submenu"><a href="buttons_alert.html"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"> </span><span>按钮及警告框</span></a></li>
        <li class="submenu"><a href="modal_form.html"><span class="glyphicon glyphicon-book" aria-hidden="true"> </span><span>模拟框表单</span></a>	</li>
        <li class="submenu"><a href="bootbox_modal.html"><span class="glyphicon glyphicon-retweet" aria-hidden="true"> </span><span>提示框</span></a></li>
        <li class="submenu"><a href="#"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"> </span><span>配置管理</span></a>	</li>

    </ul>
</div>
<!--end-sidebar-menu-->
